body {
    
    color: #333333;
    font-family: arial;
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_content {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #eeeeee;
    text-align: center;
}

header a {
    background-color: #ffffff;
    text-decoration: none;
    margin-right: 16px;
    color: dimgrey;
}

input {
    padding: 6px;
    
}

button {
    padding: 5px;
    border-radius: 0px;
    background-color: slategray;
    color: white;
}